pymysql
asgiref==3.6.0
Django==4.2
djangorestframework==3.14.0
pytz==2023.3
sqlparse==0.4.3
cryptography
django-filter==2.4.0
django-notifications-hq==1.6.0
django-model-utils==4.1.1
jsonfield==3.1.0
swapper==1.1.2.post1
